*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: auto;
  background-color: black;
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
  background-color: black;
  color: white;
}

.form>form>button{
  height: 30px;
  width: 100px;
  background-color: rgb(55, 124, 243);
  border: none;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: 300;
  color: white;
}

.events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 150px;
  background-color: black;
  color: white;
}

.events>button{
  height: 30px;
  width: 100px;
  background-color: rgb(55, 124, 243);
  border: none;
  font-family: 'Lucida Sans';
  font-size: large;
  font-weight: 300;
  color: white;
}


.events>table{
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.events>table>tr>th{
  border-bottom: 1px solid black;
  padding: 5px;
}

.ludo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: black;
  padding: 150px;
  color: white;
}

#blue{
  background-color: blue;
  width: 80px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

#green{
  background-color: green;
  width: 80px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

#yellow{
  background-color: rgb(255, 255, 0);
  width: 80px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

#red{
  background-color: red;
  width: 80px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

.nav-container{
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.nav-container>nav>ul{
  display: flex;
  list-style: none;
  height: 100vh;
  width: 90%;
  justify-content: space-evenly;  
  flex-wrap: wrap;
  align-items: center;
}

.nav-container>nav>ul>li{
  background-color: white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery{
  width: 100%;
  height: 100vh;
}

.gallery>a>img{
  margin: 10px;
}

.galleryHeading{
  text-align: center;
}

.idCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    height: auto;
    background-color: white;
    padding: 10px;
  }

  .idCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 300px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.idCard>.idCardHead>img{
  height: 200px;
  width: 200px;
}

.idCardRotated{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 300px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.rotate{
  transition: rotate 0.5s ease-in;
  rotate: y 180deg;
}

.music-player-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(46, 44, 44);
}

.music-player{
  background-color: black;
  color: white;
  width: 300px;
  padding: 15px;
}

.music-player-head{
  background-color: black;
  text-align: center;
  padding: 5px;
}

.music-player-head>p{
  font-size: larger;
  font-weight: 500;
}

.music-player-body{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

hr{
  position: relative;
}

.progress-bar>i{
  position: absolute;
  left: 540px;
  bottom: 179px;
}

.music-player-footer{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 40px;
  align-items: center;
}

.form-submit-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}


.form-submit-div{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-submit-div>form{
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.form-submit-div>form>.input-field{
  display: flex;
  width: 290px;
  justify-content: space-between;
}

.form-submit-div>form>.input-field>input{
  width: 200px;
}

.form-submit-container>.form-submit-div>form>.button{
  width: 300px;
  display: flex;
  justify-content: center;
}

.form-submit-container>.form-submit-div>form>.button>button{
  width: 60px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(231, 245, 230);
}



.todo-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-card{
  background-color: white;
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 5px;
  border: 2px solid rgb(216, 212, 212);
  border-radius: 10px
}

.todo-head{
  height: 70px;
  width: 100%;
  background-color: #254ed3;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo-head>h1{
  color: white;
  width: 100%;
  text-align: center;
  background: transparent;
  padding: 6px 0px 2px 0px;
}

.todo-body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.todo-body>.addNotes{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-body>.addNotes>input{
  outline: none;
  text-align: center;
  height: 30px;
  width: 80%;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid #6983aa;
}
.todo-body>.addNotes>.add-btn{
  border: none;
  width : 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: #8566aa;
  color: white;
}

.todo-body>.addNotes>.add-btn:hover{
  background-color: #20bf6b;
}

.todo-body>.list{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.todo-body>.list>ol>.list-items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.todo-body>.list>ol{
  width: 90%;
}
.todo-body>.list>ol>.list-items>.del-button{
  border: none;
  width : 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: #8566aa;
  color: white;
}

.todo-body>.list>ol>.list-items>.del-button:hover{
  background-color: rgba(231, 7, 7, 0.843);
}

.todo-body>.list>ol>.list-items>li{
  color: #8566aa;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  width: calc(100% - 30px);
  margin: 5px;
}

